<div
  class="photo-uploader-widget"
  data-photo-uploader
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
>
  <button
    type="button"
    class="photo-uploader-button"
    data-photo-uploader-open
  >
    SELECT PICTURES
  </button>
</div>

{{ 'photo-uploader.css' | asset_url | stylesheet_tag }}
{{ 'photo-uploader.js' | asset_url | script_tag }}




{% schema %}
{
  "name": "Photo uploader",
  "target": "section",
  "settings": []
}
{% endschema %}
